{% extends "layout.html" %}
{% block content %}
<div class='container p-4'>
			<div class='row'>
				<div class='col-md-4'>
				<form method='POST' action="" enctype="multipart/form-data" target='_blank'>
				{{ form.hidden_tag() }}
		  		<div class="form-group">
		  			Upload image (png format only):
		  			{{ form.picture(class='form-control-file',accept="image/*", onchange="preview_image(event)") }}
		  			{% if form.picture.errors %}
			  			{% for error in form.picture.errors %}
			  				<span class='text-danger'>{{ error }}</span>
			  			{% endfor %}
		  			{% endif %}
		    		<!-- <input type="file" class="custom-file-input" id="customFile">
		    		<label class="custom-file-label" for="customFile">Choose file</label> -->
		  		</div>
		  		<!--  -->
		  		<!-- text input here -->
		  		<div class="form-group"><!-- 
			    <label for="inputAddress2">Text:</label>
			    <input type="text" class="form-control "> -->
			    	{{ form.text.label() }}
			    	{{ form.text(class='form-control', placeholder='text', rows="5") }}
			    	{% if form.text.errors %}
			    		<div class="text-danger">
				    		{% for error in form.text.errors %}
				    			<span>{{ error }}</span>
				    		{% endfor %}
				    	</div>
			    	{% endif %}
			    <div>
			    <br>
			    {{ form.submit(class = 'btn btn-warning') }}
      			 <button type="button" onclick="goBack()" class="btn btn-warning">Back</button>
    			</div>
    			<!--  -->
    			<br>
			  	</div>
				</form>
				</div>
				<!-- show image -->
				<div class='col-md-8'>
					<img class="js-img border border-warning float-right" id="output_image"/>
				</div>
				<!-- src = "{{ url_for('static', filename='git.jpg') }}" -->
			</div>
		</div>
<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}

